<div class="content">
    <mat-card class="info-card">
      <mat-card-title>Mes informations</mat-card-title>
      <mat-card-content>
        <p>Start Date: --/--/----</p>
        <p>Poids actuel: -- kg</p>
        <p>% Body Fat: -- %</p>
      </mat-card-content>
    </mat-card>
  
    <div class="actions">
      <button mat-raised-button color="accent" class="full-width">Commencer mon entraînement</button>
      <button mat-raised-button color="accent" class="full-width">Suivi Nutrition</button>
      <button mat-raised-button color="accent" class="full-width">Progression</button>
      <button mat-raised-button color="accent" class="full-width">Exporter</button>
    </div>
  </div>