<div class="content">
    <mat-card class="info-card">
      <mat-card-title>Mes informations</mat-card-title>
      <mat-card-content>
        <p>Athlète : Ricky</p>
        <p>Start Date: --/--/----</p>
        <p>Poids actuel: -- kg</p>
        <p>% Body Fat (IMG): -- %</p>
        <p>Indice de masse Corporel (IMC): --</p>
      </mat-card-content>
    </mat-card>
  
    <div class="actions">
   
      <button routerLink="/training" mat-raised-button color="accent" class="full-width">Commencer/Continuer mon entraînement</button>
      <button routerLink="/schedule"  mat-raised-button color="accent" class="full-width">Schedule</button>
      <button routerLink="/nutrition" mat-raised-button color="accent" class="full-width">Suivi Nutrition</button>
      <button routerLink="/progress" mat-raised-button color="accent" class="full-width">Progression</button>
      <button routerLink="/export" mat-raised-button color="accent" class="full-width">Exporter</button>
    </div>
  </div>